@charset "utf-8";

/*全般*/


body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    margin:0 auto;
    background: #fff;
    color:#6d6d6d;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#6d6d6d;
}

a:hover{
    opacity: 0.8;
    color:#e3e3e3;
}


.pc{
    display: none;
}


/*スマホ版*/


/*パソコン版*/


@media(min-width:768px){
    
    .container{
        width: 1000px;
        margin: auto;
    }

    .pc{
        display: block;
    }

    .sp{
        display: none;
    }
    
}


