.container-ritou {
background:rgba(245, 245, 245, 0.49);
background-size: cover;
width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
/*animation: ritou 6s 4s forwards;*/
}
.container-ritou-anime {
background:rgba(245, 245, 245, 0.49);
background-size: cover;
width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
animation: ritou 6s 3s forwards;
}

.container-ritou::before {
content: '';
background:url(../img/bg-seto.jpg) no-repeat;
background-position:center center;
background-size: cover;
position: absolute;
top: -3px;
bottom: -3px;
left: -3px;
right: -3px;
filter: grayscale(.3);
opacity: .6;
}

.heading.ritou h1{
    font-family: serif;
    font-size: 6rem;
    font-weight: bold;
}
.heading.ritou h1:first-child{
    color: white;
    text-shadow: 4px 4px 5px #d1d1d1;
    writing-mode:vertical-rl;
    position: absolute;
    top:18%;
    left: 0;
}
.heading.ritou h1:last-child{
    color: white;
    text-shadow: 4px 4px 5px #d1d1d1;
    position: absolute;
    top:2%;
    left: 2%;
}
.ivent-list.ritou{
    width: 90%;
    height: 85vh;
    /*    background: red;*/
    overflow: hidden;
    /*    上下中央寄せ*/
    margin:auto;
    position: absolute;         
    padding: 20px;            
    top:  0;                    
    bottom:  0;                 
    left:  0;                   
    right:  0;

    text-align: center;
    border-spacing: 4px 4px;    
    border-collapse: separate;   
}

.ritou td.block{
    text-align: center;
    font-size:1.1em;
    font-weight: bold;
    /*    color:white;*/
    background:rgba(255, 255, 255, 0.34);
    margin: 30em;
    /*    border: 2px dotted lightblue;*/
    padding: 0.5em;
}

.ritoudroon{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .6;
    transform: scale(.6);
    cursor: pointer;
}
.ritoudroon-anime{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .6;
    transform: scale(.6);
    display: none;
    animation: ritoudroon 3s forwards;
    cursor: pointer;
}




/*-------------------------------------------------------------------------アニメーション*/


@keyframes ritoudroon{
    0%{transform: scale(.8);
        opacity: 1}
    10%{transform: translate(-4em,-4em);
        opacity: .8}
    40%{transform: translate(-8em,-12em);}
    80%{transform: translate(-40em,-30em)
        scale(.6);}
    95%{transform: translate(-60em,-20em) scale(1.2);
        opacity: .6}
    100%{transform: translate(-85em,-35em);
        opacity: 0;}

}

@keyframes ritou {
    0% {
        filter: sepia(1) contrast(2) brightness(200%);
    }

    3% {
        filter: sepia(1) contrast(2) brightness(200%);
    }

    6% {
        filter: brightness(20%);
    }

    16% {
        filter: brightness(20%);
    }

    16% {
        filter: brightness(400%);
    }
}

