.project {
    width: 80%;
    margin-left: 10%;
    font-family: Courier;
    color: gray;
    text-shadow: 5px 5px 6px rgba(128, 128, 128, 0.68);
    text-align: center;
    position: absolute;
    border-bottom: 2px dotted skyblue;
    border-radius: 50%;
}




.project-case.machida {
    writing-mode: vertical-rl;
    background-color: rgba(245, 245, 245, 0.49) no-repeat;
    background-size: cover;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    width: 90%;
    height: 250px;
    position: absolute;
    top: calc(20%);
    left: calc(5%);
    z-index: 0;

}

.project-case.machida::before {
    content: '';
    background: url(../img/09.jpg);
    background-position: center center;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    /*  background: inherit;*/
    filter: grayscale(1);
    opacity: 0.4;
    z-index: -1;
}

.project-case.machida:hover::before{
    cursor: pointer;
    filter: none;
    opacity: 0.6;
}
.project-case.seto {
    writing-mode: vertical-rl;
    background-color: rgba(245, 245, 245, 0.49);
    background-size: cover;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    width: 90%;
    height: 250px;
    position: absolute;
    top: calc(60%);
    left: calc(5%);
    position: relative;
    z-index: 0;
}

.project-case.seto::before {
    content: '';
    background: url(../img/0802.jpg) no-repeat;
    background-size: cover;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    filter: grayscale(1);
    opacity: 0.6;
    z-index: -1;
}

.project-case.seto:hover::before{
    cursor: pointer;
    filter: none;
    opacity: 0.9;
}


.project-case h1 {
    writing-mode: horizontal-tb;
    font-family: serif;
    /*    font-weight: bold;*/
    background-color: rgb(255, 255, 255);
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

.machida h1 {
    width: 15%;
    text-align: center;
    position: absolute;
    top: calc(-3%);
    left: calc(30%);
}

.seto h1 {
    width: 15%;
    text-align: center;
    position: absolute;
    top: calc(-3%);
    left: calc(60%);
}

.project-case p {
    margin-left: 10px;
    padding: 10px;
    text-indent: 1em;
}


